body {
	background-color: #f2f2f2;
	margin: 4px;
}
h1 {
	font-size: 1.25em;
	margin: 0;
	padding: 4px 8px;
	background: #a8e8f8;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul li {
	width: auto;
	padding: 4px 8px;
	cursor: pointer;
	background-color: #f8f8f8;
	margin: 2px 0;
	font-size: 1.1em;
}
ul li:hover {
	background-color: #b8d8f8;
}
ul li ul li {
	padding: 2px 4px;
	margin-left: 10px;
}
ul li ul li:hover {
	background-color: #f8f8b8;
}